@{
    ViewData["Title"] = "CountryAdd";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
    ViewData["Title"] = "City";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}




@*function cityFilter() {
            if (document.getElementById("cityTextBox").value != "") {

                    $.ajax({
                        type: 'GET',
                        headers: {
                            'Cache-Control': 'no-cache'
                    },
                    url: '@Url.Action("Languages_Read", "DictionaryCity")',
                    data: { cityName: document.getElementById("cityTextBox").value },
                        success: function (response) {
                            alert(response.Data);
                    $("#cityGrid").data("kendoGrid").setDataSource(response.Data);
                    },
                        error: function (response) {
                            alert(response.Data);
                        alert("hai ca nu merge");
                    }
                })
            }
            else
                    {
                  $.ajax({
                      type: 'GET',
                           headers: {
                            'Cache-Control': 'no-cache'
                    },
                    url: '@Url.Action("Languages_ReadNoFilter", "DictionaryCity")',
                    success: function (response) {
                    $("#cityGrid").data("kendoGrid").setDataSource(response.Data);
                    },
                      error: function (response) {
                          alert(response.Data);
                        alert("hai ca nu merge");
                    }
                })

            }

    )*@


<script type="text/javascript">

    function filter(e) {
        var cityName = document.getElementById("cityTextBox").value;
        var filter = {};
        filter["cityName"] = cityName;
        return filter;
    }

    function deleteRow(id) {
             $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("Delete", "DictionaryCity")',
                    data: { id: id },
                 success: function (response) {
                     alert("hai ca merge");
                     alert(id);
                        $("#cityGrid").data("kendoGrid").dataSource.read();
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })
    }
    function refreshGrid() {
        $("#cityGrid").data("kendoGrid").dataSource.read();  
        $("#cityGrid").data("kendoGrid").dataSource.page(1); 
    }
</script>
@(Html.Kendo().TextBox()
.Name("cityTextBox")
.HtmlAttributes(new { @id = "cityTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filter")
.Events(ev => ev.Click("refreshGrid"))
)
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCityModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Hidden();
            columns.Bound(o => o.Name).Title("Oras");
            columns.Bound(o => o.County).Title("Judet");
            columns.Template("<button id=\"deleteButton\" onclick=\"deleteRow(#=Id#)\">Delete</button>");
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Selectable()
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "cityGrid" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("GetDictionaryCityPagingFilter", "DictionaryCity").Data("filter"))
            .Destroy(d => d.Action("Delete", "DictionaryCity")))
        //.Events(events => events.Edit(""))
    
)

