<!DOCTYPE html>
<html>
<head runat=server>
   
      
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
        <link rel="stylesheet" href="~/fonts/icomoon/style.css" runat=server>

        <link rel="stylesheet" href="~/css/bootstrap.min.css" runat=server>
        <link rel="stylesheet" href="~/css/magnific-popup.css" runat=server>
        <link rel="stylesheet" href="~/css/jquery-ui.css" runat=server>
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" runat=server>
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" runat=server>

        <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" runat=server>

        <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css" runat=server>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


        <link rel="stylesheet" href="~/css/aos.css" runat=server>

        <link rel="stylesheet" href="~/css/style.css" runat=server>

   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iWasHere.Web</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common-nova.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.common-nova.min.css"
              asp-fallback-test-class="k-common-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.nova.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.nova.min.css"
              asp-fallback-test-class="k-theme-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/aos.js"></script>

        <script src="~/js/main.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
    </environment>
</head>
<body>
    <header class="site-navbar py-1" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0"><a href="@Url.Action("Index", "Home")" class="text-black h2 mb-0">iWasHere.com</a></h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LandmarkList", "Landmarks")">Landmarks</a>
                            </li>
                            <li class="has-children">
                                <a>Dictionaries</a>
                                <ul class="dropdown">
                                    <li><a href="@Url.Action("Index", "DictionaryCity")">Cities</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryCounty")">Counties</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryCountry")">Countries</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryLandmarkType")">Landmark Types</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryLanguage")">Languages</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryCurrency")">Currencies</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryTicketType")">Ticket types</a></li>
                                    <li><a href="@Url.Action("Index", "DictionaryInterval")">Interval types</a></li>
                                </ul>
                            </li>



                        </ul>
                    </nav>
                </div>

                <div class="col-6 col-xl-2 text-right">
                    <div class="d-none d-xl-inline-block">
                        <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                            <li>
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                    <partial name="_LoginPartial" />
                                    <ul class="navbar-nav flex-grow-1">
                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>

                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>

    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">


        <div class="row pt-1 mt-1 text-center">
            <div class="col-md-12">
                <div class="mb-1">
                    <a href="https://ro-ro.facebook.com/totalsoft.romania" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="https://twitter.com/hashtag/totalsoft?src=hash" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/?hl=ro" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="https://ro.linkedin.com/company/totalsoft" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>

                <p>

                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved to Sece | This website could not be made without Team Scarlet<i class="icon-heart-o" aria-hidden="true"></i>

                </p>
            </div>

        </div>

    </footer>

    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/aos.js"></script>

        <script src="~/js/main.js"></script>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
