
@{
    ViewData["Title"] = "Landmark Type";
}

<h1>Landmark types</h1>

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("foo"))
)
<script>
    function foo()
    {
        window.location.href = '@Url.Action("LandmarkTypeAdd", "DictionaryLandmarkType")';
    }
</script>

<script type="text/javascript">

    function filter(e) {
        var landmarkTypeName = document.getElementById("landmarkTextBox").value;
        var filter = {};
        filter["landmarkTypeName"] = landmarkTypeName;
        return filter;
    }

    function refreshGrid() {
        $("#landmarkGrid").data("kendoGrid").dataSource.read();
        $("#landmarkGrid").data("kendoGrid").dataSource.page(1);
    }
</script>
@(Html.Kendo().TextBox()
.Name("landmarkTextBox")
.HtmlAttributes(new { @id = "landmarkTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filter")
.Events(ev => ev.Click("refreshGrid"))
)
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryLandmarkTypeModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.LandmarkTypeCode);
        columns.Bound(o => o.Description);
    })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "landmarkGrid" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("GetDictionaryLandmarkTypesFiltered", "DictionaryLandmarkType").Data("filter"))

        )
)

