@{
    ViewData["Title"] = "Language";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<h1>Languages</h1>


<script type="text/javascript">

    function filter(e) {
        var languageName = document.getElementById("languageTextBox").value;
        var filter = {};
        filter["languageName"] = languageName;
        return filter;
    }

    function deleteRowLang(id) {
             $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteLanguage", "DictionaryLanguage")',
                    data: { id: id },
                 success: function (response) {
                     alert("hai ca merge");
                     alert(id);
                        $("#languageGrid").data("kendoGrid").dataSource.read();
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })
    }

    function refreshGrid() {
        $("#languageGrid").data("kendoGrid").dataSource.read();
        $("#languageGrid").data("kendoGrid").dataSource.page(1);
    }

     function redirectToAddContext()
    {
            window.location.href = 'DictionaryLanguage/LanguageAdd/?id=' + 0;
    }

    function redirectToEditContext(id)
    {
        window.location.href = 'DictionaryLanguage/LanguageAdd/?id=' + id;
    }

</script>
@(Html.Kendo().TextBox()
.Name("languageTextBox")
.HtmlAttributes(new { @id = "languageTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filter")
.Events(ev => ev.Click("refreshGrid"))
)

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("redirectToAddContext"))
           )

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryLanguageModel>()
        .Name("grid")
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Sortable()
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "languageGrid" })
        .Columns(columns =>
        {
            columns.Bound(o => o.LanguageId).Hidden();
            columns.Bound(o => o.LanguageCode);
            columns.Bound(o => o.LanguageName);
            columns.Template("<button id=\"deleteButton\" class=\"k-button\" onclick=\"deleteRowLang(#=LanguageId#)\">Delete</button>");
            columns.Template("<button id=\"editButton\" class=\"k-button\" onclick=\"redirectToEditContext(#=LanguageId#)\"> Edit </button>");
        })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("GetDictionaryLanguagesFiltered", "DictionaryLanguage").Data("filter"))
            .Destroy(d => d.Action("DeleteLanguage", "DictionaryLanguage")))
        )
