
@{
    ViewData["Title"] = "LanguageAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Language</h1>

<script>


    function AddLang() {
        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLanguage", "DictionaryLanguage")',
            data: {
                lgCode: document.getElementById("LanguageCode").value,
                lgName: document.getElementById("LanguageName").value
            },
            success: function (response) {
                alert("merge daca e");

            },
            error: function (response) {
                alert("hai ca nu merge");
            }
        })
    }

        function cancelAdd() {
            window.location.href = '@Url.Action("Index", "DictionaryLanguage")';
        }

    function AddLangRef() {
            AddLang();
           window.location.href = '@Url.Action("Index", "DictionaryLanguage")';
        }

        function AddNew() {
            AddLang();
            window.location.href = '@Url.Action("LanguageAdd", "DictionaryLanguage")';
        }


</script>



<div class="form-group">


    @(Html.Kendo().TextBox()
         .Name("LanguageCode")
         .Value("LanguageCode")
         .HtmlAttributes(new { style = "width: 25%" })
    )

    @(Html.Kendo().TextBox()
       .Name("LanguageName")
       .Value("LanguageName")
       .HtmlAttributes(new { style = "width: 25%" })
    )

    @(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("AddLangRef"))
    )
    @(Html.Kendo().Button()
          .Name("addNewButton")
          .HtmlAttributes(new { type = "button", @class = "k-primary" })
          .Content("Add New")
          .Events(ev => ev.Click("AddNew"))
    )
    @(Html.Kendo().Button()
          .Name("cancelButton")
          .HtmlAttributes(new { type = "button", @class = "k-primary" })
          .Content("Cancel")
          .Events(ev => ev.Click("cancelAdd"))
    )

</div>

