@{

 

    ViewData["Title"] = "AddLanguage";
Layout = "~/Views/Shared/_Layout.cshtml";}

 


    <h1 class="text-center" style="margin:50px">Add language</h1>
<script>
    let fromUpdate = false;

 

    function AddLanguage() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("id");
        var cityNameValidation = false;
        if (document.getElementById("languageName").value == "" || document.getElementById("languageCode").value == "") {
            alert("Camp gol");
        }
        else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerifyLanguage", "DictionaryLanguage")',
                data: {
                    languageName: document.getElementById("languageName").value,
                    languageCode: document.getElementById("languageCode").value,
                },
                success: function (response) {
                    cityNameValidation = response;
                    alert(cityNameValidation);
                    document.getElementById("languageName").value = document.getElementById("languageName").value.trim();
                    document.getElementById("languageCode").value = document.getElementById("languageCode").value.trim();
                    if (id != 0) {
                        if (document.getElementById("languageName").value != "" && document.getElementById("languageCode").value != "" && document.getElementById("languageName").value.length != 0 && document.getElementById("languageCode").value.length != 0) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("EditLanguage", "DictionaryLanguage")',
                                data: {
                                    langName: document.getElementById("languageName").value,
                                    langCode: document.getElementById("languageCode").value,
                                    langId: document.getElementById("languageId").value

 

                                },
                                success: function (response) {

 

                                    window.location.href = '@Url.Action("Index", "DictionaryLanguage")';
                                },
                                error: function (response) {
                                    //  alert("hai ca nu merge");
                                }
                            })

 

                        }
                        else { alert("Nu a fost introdus numele sau codul") }
                    }
                    else {
                        if (!cityNameValidation && document.getElementById("languageName").value != "" && document.getElementById("languageCode").value != "" && document.getElementById("languageName").value.length != 0 && document.getElementById("languageCode").value.length != 0) {
                            $.ajax({
                                type: 'PUT',
                                url: '@Url.Action("SaveLanguage", "DictionaryLanguage")',
                                data: {
                                    langName: document.getElementById("languageName").value,
                                    langCode: document.getElementById("languageCode").value,

 

                                },
                                success: function (response) {
                                    if (fromUpdate) {
                                        document.getElementById("languageName").value = "";
                                        document.getElementById("languageCode").value = "";
                                        fromUpdate = false;
                                    }
                                    else {
                                        window.location.href = '@Url.Action("Index", "DictionaryLanguage")';
                                    }

 

                                },
                                error: function (response) {
                                    //  alert("hai ca nu merge");
                                }
                            })
                        } else {
                            alert("This language already exists");
                        }
                    }
                },
                error: function (response) {
                    // alert("hai ca nu merge");
                }
            })
        }
    }

 

    function onLoadEdit() {

 

        var url_string = window.location.href;
        var url = new URL(url_string);
        document.getElementById("languageId").style.visibility = "hidden";

 

        var id = url.searchParams.get("id");
        if (id != 0) {
            //alert("din edit");
            document.getElementById("buttonId").innerText = "Update";
            document.getElementById("buttonIdNew").style.visibility = "hidden";
        }
        else {
            //alert("din add");
        }

 

    }

 

    function cancelAdd() {
        window.location.href = '@Url.Action("Index", "DictionaryLanguage")';
    }

 

 


    function AddNew() {
        fromUpdate = true;
        AddLanguage();

 


    }

 


</script>
@model iWasHere.Domain.DTOs.DictionaryLanguageModel;

 

<body class="text-center" onload="onLoadEdit()">

 


    <ul style="list-style-type:none">
        <li>

 

            <label>Language Code</label>

 

        </li>
        <li>
            @(Html.Kendo().TextBoxFor(model => model.LanguageCode)
                                .HtmlAttributes(new { @id = "languageCode", style = "margin:10px", @maxlength = "10" })

 

            )
            
          
        </li>
        <li>
            @(Html.Kendo().TextBoxFor(model => model.LanguageId)
                          .HtmlAttributes(new { @id = "languageId", style = "margin:10px" })
            )
        </li>
        <li>

 

            <label>Language Name</label>

 


        </li>
        <li>
            @(Html.Kendo().TextBoxFor(model => model.LanguageName)
                .HtmlAttributes(new { @id = "languageName", style = "margin:10px", @maxlength = "40" })
            )
        </li>
    </ul>

 

 


    <div style="margin:10px">
        @(Html.Kendo().Button()
                  .Name("primaryTextButton")
                  .HtmlAttributes(new { type = "button", @class = "k-primary", @id = "buttonId" })
                  .Content("Add")
                    .Icon("k-icon k-i-plus-circle")
                  .Events(ev => ev.Click("AddLanguage"))
        )
        @(Html.Kendo().Button()
          .Name("addNewButton")
          .HtmlAttributes(new { type = "button", @class = "k-primary", @id = "buttonIdNew" })
          .Content("Add New")
          .Icon("k-icon k-i-plus")
          .Events(ev => ev.Click("AddNew"))
        )
        @(Html.Kendo().Button()
              .Name("cancelButton")
              .HtmlAttributes(new { type = "button", @class = "k-primary" })
              .Content("Cancel")
               .Icon("cancel")
              .Events(ev => ev.Click("cancelAdd"))
        )
    </div>

 


</body>