@model iWasHere.Domain.DTOs.DictionaryCountyModel;

@{
    ViewData["Title"] = "AddCounty";
    Layout = "~/Views/Shared/_Layout.cshtml";}


    <h1 class="text-center" style="margin:50px">Add county</h1>
 
<body class="text-center" onload="onLoadEditC()">
    
    <ul style="list-style-type:none">
        <li>
            <label>County Name</label>
        </li>

        <li>
            @(Html.Kendo().TextBoxFor(model => model.CountyName)
                                .HtmlAttributes(new { @id = "CountyName", style = "margin:10px" })
            )
        <li>
            @(Html.Kendo().TextBoxFor(model => model.CountyId)
            .HtmlAttributes(new { @id = "CountyId", style = "margin:10px" })
            )
        </li>
            
        

        <li>
            <label>Country</label>
        </li>
        <li>

            @(Html.Kendo().ComboBox()
                             .Value("Select a country!")
                             .Name("DictionaryCountry")
                             .DataTextField("CountryName")
                             .DataValueField("CountryId")
                             .HtmlAttributes(new { style = "width: 25%", @id = "combo" })
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Action("GetAllCountries", "DictionaryCounty");
                                 });
                             })
                             )
        </li>
    </ul>

    <p></p>

    <div style="margin-left:10px">
        @(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Save")
           .Icon("k-icon k-i-plus-circle")
           .Events(ev => ev.Click("add"))
        )

        @(Html.Kendo().Button()
               .Name("addNewButton")
               .HtmlAttributes(new { type = "button", @class = "k-primary" })
               .Content("Add New")
               .Icon("k-icon k-i-plus")
               .Events(ev => ev.Click("addNew"))
        )

        @(Html.Kendo().Button()
              .Name("cancelButton")
              .HtmlAttributes(new { type = "button", @class = "k-primary" })
              .Content("Cancel")
              .Icon("cancel")
              .Events(ev => ev.Click("cancelAdd"))
        )
    </div>

</body>

<script type="text/javascript">

    let fromUpdate = false;

    function add() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("CountyId");
        var countyNameValidation = false;
        if (document.getElementById("combo").value == "Select a country!") {
                alert("Nu ati selectat o tara!");
            }
        else if (!document.getElementById("CountyName").value ||
            !document.getElementById("combo").value) {
            alert("Empty fields!");
            
        } else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("VerifyCountyName", "DictionaryCounty")',
                data: {
                    countyName: document.getElementById("CountyName").value
                },
                success: function (response) {
                    countyNameValidation = response;

                    if (countyNameValidation == false) {
                        if (id != 0) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("EditCounty", "DictionaryCounty")',
                                data: {
                                    countyName: document.getElementById("CountyName").value,
                                    countyId: document.getElementById("CountyId").value,
                                    countryId: document.getElementById("combo").value
                                },
                                success: function (response) {
                                    alert("Modified county!");
                                    window.location.href = '@Url.Action("Index", "DictionaryCounty")';
                                },
                                error: function (response) {
                                    alert("ERROR!");
                                }
                            })
                        }
                        else {
                            $.ajax({
                                type: 'PUT',
                                url: '@Url.Action("SaveCounty", "DictionaryCounty")',
                                data: {
                                    countyName: document.getElementById("CountyName").value,
                                    countryId: document.getElementById("combo").value
                                },
                                success: function (response) {
                                    if (fromUpdate) {
                                        document.getElementById("CountyName").value = "";
                                        $("#combo").val("").data("kendoDropDownList").text("");
                                        fromUpdate = false;
                                        alert("Saved county!");
                                        window.location.href = '@Url.Action("Index", "DictionaryCounty")';
                                    }
                                },
                                error: function (response) {
                                    alert("ERROR!");
                                }
                            })
                        }
                    } else {
                        alert("County already exists!");
                    }
                }
            })
        }
    }
    function onLoadEditC() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        document.getElementById("CountyId").style.visibility = "hidden";
        var id = url.searchParams.get("id");
        if (id != 0) {
            document.getElementById("buttonId").innerText = "Update";
        }
    }

    function addNew() {
        fromUpdate = true;
        add();
        window.location.href = '@Url.Action("AddCounty", "DictionaryCounty")';
    }

    function cancelAdd() {
        window.location.href = '@Url.Action("Index", "DictionaryCounty")';
    }

</script>
