
@{
    ViewData["Title"] = "County";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h1 class="text-center" style="margin:50px">Counties</h1>

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Icon("k-icon k-i-plus")
           .Events(ev => ev.Click("redirectToAddContext"))
)

@(Html.Kendo().TextBox()
        .Name("countyTextBox")
        .HtmlAttributes(new { @id = "countyTextBox" })
)

@(Html.Kendo().DropDownList()
        .Value("Select Country")
             .Name("DictionaryCountry")
             .DataTextField("CountryName")
             .DataValueField("CountryId")
             .DataSource(source =>
                     {
                 source.Read(read =>
                 {
                     read.Action("GetAllCountries", "DictionaryCounty");
                 });
             })
             .HtmlAttributes(new { style = "width: 25%", @id = "combo" })
)

@(Html.Kendo().Button()
        .Name("textButton")
        .HtmlAttributes(new { type = "button" })
        .Content("Filter")
        .Icon("filter")
        .Events(ev => ev.Click("refreshGrid"))
)

@(Html.Kendo().Button()
.Name("filterButton")
.HtmlAttributes(new { type = "button" })
.Content("Clear Filter")
.Icon("filter-clear")
.Events(ev => ev.Click("clearFilter"))
)

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountyModel>
    ()
    .Name("grid")
    .HtmlAttributes(new { style = "height: 380px;" })
    .Scrollable()
    .Groupable()
    .Sortable()
    .Columns(columns =>
    {
        columns.Bound(o => o.CountyId).Hidden();
        columns.Bound(o => o.CountyName);
        columns.Bound(o => o.CountryName);
        columns.Template("<button id=\"deleteButton\" class=\"k-button\" onclick=\"deleteRow(#=CountyId#)\">Delete</button>");
        columns.Template("<button id=\"editButton\" class=\"k-button\" onclick=\"redirectToEditContext(#=CountyId#)\"> Edit </button>");
    })
    .NoRecords(true)
    .Filterable()
    .HtmlAttributes(new { @id = "countyGrid" })
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(10)
    .Read(read => read.Action("GetDictionaryCountiesByName", "DictionaryCounty").Data("filter"))
    .Destroy(d => d.Action("Delete", "DictionaryCounty"))
    )
    .Events(events => events.Edit("openAddCountyPage"))
)

<script type="text/javascript">
    function openAddCountyPage(e) {
        window.location.href = '@Url.Action("AddCounty", "DictionaryCounty")';
    }

    function filter(e) {
        var countyName = document.getElementById("countyTextBox").value;
        var countryId = document.getElementById("combo").value;
        var filter = {};
        filter["countyName"] = countyName;
        filter["countryId"] = countryId;
        return filter;
    }

    function refreshGrid() {
        $("#countyGrid").data("kendoGrid").dataSource.read();
        $("#countyGrid").data("kendoGrid").dataSource.page(1);
    }

    function deleteRow(id) {
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("Delete", "DictionaryCounty")',
            data: { id: id },
            success: function (response) {
                alert(response);
                if (response == 0) {
                    alert("The county has cities assigned to it, so it can't be deleted.");
                } else {
                    alert("Deleted county!");
                    $("#countyGrid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (response) {
                alert("ERROR!");
            }
        })
    }

    function redirectToAddContext() {
        window.location.href = 'DictionaryCounty/AddCounty/?id=' + 0;
    }

    function redirectToEditContext(id) {
        window.location.href = 'DictionaryCounty/AddCounty/?id=' + id;
    }

    function clearFilter() {
        document.getElementById("countyTextBox").value = " ";
        refreshGrid();
    }

</script>
