
@{
    ViewData["Title"] = "County";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Judete</h1>


@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("openAddCountyPage"))
           )


@(Html.Kendo().TextBox()
.Name("countyTextBox")
.HtmlAttributes(new { @id = "countyTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filtreaza")
.Events(ev => ev.Click("filter"))
)


@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountyModel>()
        .Name("grid")
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Columns(columns =>
        {
            columns.Bound(o => o.CountyId).Hidden();
            columns.Bound(o => o.CountyName);
            columns.Bound(o => o.CountryName);

        })
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "countyGrid" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("GetDictionaryCountiesByName", "DictionaryCounty").Data("countyFilter"))

        )
)

<script type="text/javascript">
    function openAddCountyPage()
    {
        window.location.href = '@Url.Action("AddCounty", "DictionaryCounty")';
    }

    function filter() {
        var countyName = document.getElementById("countyTextBox").value;
        if (countyName != "") {

        } else {
            $("#countyGrid").data("kendoGrid").dataSource.read();
            $("#countyGrid").data("kendoGrid").dataSource.page(1);
        }
    }
</script>