@model iWasHere.Domain.DTOs.LandmarkModel

@{
    ViewData["Title"] = "AddLandmark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function addImage() {
             $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Submit", "Landmarks")',
                 success: function (response) {
                     alert("hai ca merge");
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })
    }
</script>

<h1>AddLandmark</h1>


<hr />
<div class="row">
    <div class="col-md-4">

        <ul style="list-style-type:none">
            <li>
                <label>Landmark Name</label>
            </li>
            <li>
                @(Html.Kendo().TextBoxFor(model => model.LandmarkDescription)
                                    .HtmlAttributes(new { @id = "LandmarkName", style = "margin:10px" })
                )
            </li>

            <p></p>

            <li>
                <label>Landmark Type</label>
            </li>
            <li>
                @(Html.Kendo().DropDownList()
                                 .Name("DictionaryLandmarkType")
                                 .DataTextField("LandmarkTypeCode")
                                 .DataValueField("LandmarkTypeId")
                                 .HtmlAttributes(new { style = "width: 75%", @id = "comboType" })
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Action("GetAllLandmarkTypes", "Landmarks");
                                     });
                                 }))
            </li>

            <p></p>

            <li>
                <label>Landmark has entry ticket?</label>
            </li>
           <li>
                @(Html.Kendo().RadioButton()
                    .Name("YesRadioButton")
                    .Label("Yes")
                    .HtmlAttributes(new { @id="yesRB"})
                    .Checked(true))

                @(Html.Kendo().RadioButton()
                   .Name("NoRadioButton")
                   .Label("No")                   
                    .HtmlAttributes(new { @id="noRB"})
                   .Checked(false))
            </li>

            <p></p>

            <li>
                <label>Visit Interval</label>
            </li>
            <li>
                @(Html.Kendo().DropDownList()
                                 .Name("DictionaryInterval")
                                 .DataTextField("VisitIntervalName")
                                 .DataValueField("VisitIntervalId")
                                 .HtmlAttributes(new { style = "width: 75%", @id = "comboInterval" })
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Action("GetAllVisitIntervals", "Landmarks");
                                     });
                                 }))
            </li>

            <p></p>

            <li>
                <label>Ticket Type</label>
            </li>
            <li>
                @(Html.Kendo().DropDownList()
                                 .Name("DictionaryTicketType")
                                 .DataTextField("TicketTypeName")
                                 .DataValueField("TicketTypeId")
                                 .HtmlAttributes(new { style = "width: 75%", @id = "comboTicket" })
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Action("GetAllTicketTypes", "Landmarks");
                                     });
                                 }))
            </li>

            <p></p>

            <li>
                <label>City</label>
            </li>
            <li>
                @(Html.Kendo().DropDownList()
                                 .Name("DictionaryCity")
                                 .DataTextField("Name")
                                 .DataValueField("Id")
                                 .HtmlAttributes(new { style = "width: 75%", @id = "comboCity" })
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Action("GetAllCities", "Landmarks");
                                     });
                                 }))
            </li>

            <p></p>

            <li>
                <label>Street Name</label>
            </li>
            <li>
                @(Html.Kendo().TextBoxFor(model => model.StreetName)
                                    .HtmlAttributes(new { @id = "StreetName", style = "margin:10px" })
                )
            </li>

            <p></p>

            <li>
                <label>Street Number</label>
            </li>
            <li>
                @(Html.Kendo().TextBoxFor(model => model.StreetNumber)
                                    .HtmlAttributes(new { @id = "StreetNumber", style = "margin:10px" })
                )
            </li>

            <p></p>

            <li>
                <label>Latitude</label>
            </li>
            <li>
                @(Html.Kendo().NumericTextBoxFor(model => model.Latitude)
                                    .HtmlAttributes(new { @id = "Latitude", style = "margin:5px" })
                )
            </li>

            <p></p>

            <li>
                <label>Longitude</label>
            </li>
            <li>
                @(Html.Kendo().NumericTextBoxFor(model => model.Longitude)
                                    .HtmlAttributes(new { @id = "Longitude", style = "margin:5px" })
                )
            </li>
        </ul>
        <div>
            @(Html.Kendo().Button()
               .Name("primaryTextButton")
               .HtmlAttributes(new { type = "button", @class = "k-primary" })
               .Content("Save")
               .Events(ev => ev.Click("add"))
            )
        </div>
    </div>
</div>
<form method="post" action='@Url.Action("SaveImage", "Landmarks")' enctype="multipart/form-data">
    <input type="file" name="pic" />
    <input type="submit" value="Upload" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">


    function add() {
        var landmarkNameValidation = false;
        var streetNameValidation = false;
        var longitudeValidation = false;
        var streetNumberValidation = false;
        var latitudeValidation = false;
        if (document.getElementById('yesRB').checked) {
            h = true;
        } else if (document.getElementById('noRB').checked) {
            h = false;
        }

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLandmark", "Landmarks")',
            data: {
                landmarkName: document.getElementById("LandmarkName").value,
                landmarkTypeId: document.getElementById("comboType").value,
                hasEntryTicket: h,
                visitIntervalId: document.getElementById("comboInterval").value,
                ticketId: document.getElementById("comboTicket").value,
                streetName: document.getElementById("StreetName").value,
                streetNumber: document.getElementById("StreetNumber").value,
                cityId: document.getElementById("comboCity").value,
                latitude: document.getElementById("Latitude").value,
                longitude: document.getElementById("Longitude").value
            },
            success: function (response) {
                alert("hai ca merge");
                window.location.href = '@Url.Action("LandmarkList", "Landmarks")';
            },
            error: function (response) {
                alert("hai ca nu merge");
            }
        })
    }

</script>


