
@{
    ViewData["Title"] = "LandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LandmarkList</h1>
<div>
    @(Html.Kendo().Button()
      .Name("primaryTextButton")
      .HtmlAttributes(new { type = "button", @class = "k-primary" })
      .Content("Add")
      .Events(ev => ev.Click("redirectToAddContext"))
    )
</div>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.LandmarkModel>
        ()
        .Name("grid")
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Columns(columns =>
        {
            columns.Bound(o => o.LandmarkId);
            columns.Bound(o => o.LandmarkDescription).Title("Name");
            columns.Template("<button id=\"deleteButton\" class=\"k-button\" onclick=\"deleteRow(#=LandmarkId#)\">Delete</button>");
            columns.Template("<button id=\"editButton\" class=\"k-button\" onclick=\"redirectToEditContext(#=LandmarkId#)\"> Edit </button>");
        })
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "landmarkGrid" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("GetLandmarksFiltered", "Landmarks"))
        .Destroy(d => d.Action("Delete", "Landmarks"))
        )
)

<script type="text/javascript">
    function add() {
        window.location.href = '@Url.Action("AddLandmark", "Landmarks")';
    }

    function redirectImagesContext() {
        window.location.href = '@Url.Action("Images", "Landmarks")';
    }

    function redirectToAddContext() {
        window.location.href = '@Url.Action("AddLandmark", "Landmarks")/?id=' + 0;
    }

    function redirectToEditContext(id) {
        window.location.href = '@Url.Action("AddLandmark", "Landmarks")/?id=' + id;
    }

    function refreshGrid() {
        $("#landmarkGrid").data("kendoGrid").dataSource.read();
        $("#landmarkGrid").data("kendoGrid").dataSource.page(1);
    }

    function openAddLandmarkPage(e) {
        window.location.href = '@Url.Action("AddLandmark", "Landmarks")';
    }
    
    function deleteRow(id) {
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("Delete", "Landmarks")',
            data: { id: id },
            success: function (response) {
                alert("hai ca merge");
                alert(response);
                if (response == 0) {
                    alert("Atractia nu se poate sterge");
                } else {
                    alert("Atractie stearsa");
                    refreshGrid();
                }
            },
            error: function (response) {
                alert("hai ca nu merge");
            }
        })
    }

</script>
