
@{
    ViewData["Title"] = "ViewLandmark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model iWasHere.Domain.DTOs.LandmarkModel;    

<h1>@Html.DisplayFor(model => model.LandmarkDescription)</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYlEg-dW1i94xgQ2FC4u9IsLfx1kyFEf8&callback=myMap"></script>

<script>
    var map;
    var markers = [];

    function myMap() {
        var startLatLng = { lat: 44.4894, lng: 26.1267 };
        map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 12,
            center: startLatLng,

        });
</script>
<style>

    .map-container {
        position: absolute;
        bottom: 20%;
        right: 10%;
    }
</style>
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="col-md-6">
                <ul>
                    <li>
                        <label>LandmarkType:</label>
                        @Html.DisplayFor(model => model.LandmarkType.LandmarkTypeCode)
                    </li>
                    <li>
                        <label>Interval:</label>
                        @Html.DisplayFor(model => model.VisitInterval.VisitIntervalName)
                    </li>
                    <li>
                        <label>Ticket:</label>
                        @Html.DisplayFor(model => model.Ticket)
                    </li>
                    <li>
                        <label>Street Name:</label>
                        @Html.DisplayFor(model => model.StreetName)
                    </li>
                    <li>
                        <label>Street Number:</label>
                        @Html.DisplayFor(model => model.StreetNumber)
                    </li>
                    <li>
                        <label>City:</label>
                        @Html.DisplayFor(model => model.City.CityName)
                    </li>
                    <li>
                        <label>County:</label>
                        @Html.DisplayFor(model => model.County)
                    </li>
                    <li>
                        <label>Country:</label>
                        @Html.DisplayFor(model => model.Country)
                    </li>
                    <li>
                        <label>Latitude:</label>
                        @Html.DisplayFor(model => model.Latitude)
                    </li>
                    <li>
                        <label>Longitude:</label>
                        @Html.DisplayFor(model => model.Longitude)
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <img src="~/@Model.Path" alt="Image" />
                <input type="button"
                       value="Add Comment"
                       onclick="location.href='@Url.Action("AddComment", "Comment")/'+@Model.LandmarkId " />
            </div>
            <div id="googleMap" style="width:50%;height:400px;" class="map-container"></div>
        </div>
    </div>
</div>







