
@{
    ViewData["Title"] = "ViewLandmark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function onLoad() {

        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("id");
    }   
</script>




@model iWasHere.Domain.DTOs.LandmarkModel;


<body onload="onLoad()">

    <h1>@Html.DisplayFor(model => model.LandmarkDescription)</h1>

    <ul>
        <li>
            <label>LandmarkType:</label>
            @Html.DisplayFor(model => model.LandmarkType.LandmarkTypeCode)
        </li>
        <li>
            <label>Interval:</label>
            @Html.DisplayFor(model => model.VisitInterval.VisitIntervalName)
        </li>
        <li>
            <label>Ticket:</label>
            @Html.DisplayFor(model => model.Ticket)
        </li>
        <li>
            <label>Street Name:</label>
            @Html.DisplayFor(model => model.StreetName)
        </li>
        <li>
            <label>Street Number:</label>
            @Html.DisplayFor(model => model.StreetNumber)
        </li>
        <li>
            <label>City:</label>
            @Html.DisplayFor(model => model.City.CityName)
        </li>
        <li>
            <label>County:</label>
            @Html.DisplayFor(model => model.County)
        </li>
        <li>
            <label>Country:</label>
            @Html.DisplayFor(model => model.Country)
        </li>
    </ul>

    <img src="~/75577a90-d156-43f9-9ba6-c29b81442ca9.png" alt="Image" />



</body>