@{
    ViewData["Title"] = "Currency";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<h1>Currency</h1>


<script type="text/javascript">

    function filter(e) {
        var currencyName = document.getElementById("currencyTextBox").value;
        var filter = {};
        filter["currencyName"] = currencyName;
        return filter;
    }
     function deleteRow(id) {
             $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteCurrency", "DictionaryCurrency")',
                    data: { id: id },
                 success: function (response) {
                        $("#currencyGrid").data("kendoGrid").dataSource.read();
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })
    }

    function refreshGrid() {
        $("#currencyGrid").data("kendoGrid").dataSource.read();
        $("#currencyGrid").data("kendoGrid").dataSource.page(1);
    }

     function redirectToAddContext()
    {
            window.location.href = 'DictionaryCurrency/CurrencyAdd/?id=' + 0;
    }

    function redirectToEditContext(id)
    {
        window.location.href = 'DictionaryCurrency/CurrencyAdd/?id=' + id;
        
    }

</script>

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("redirectToAddContext"))
           )
@(Html.Kendo().TextBox()
.Name("currencyTextBox")
.HtmlAttributes(new { @id = "currencyTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filter")
.Events(ev => ev.Click("refreshGrid"))
)
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCurrencyModel>()
        .Name("grid")


        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Sortable()
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "currencyGrid" })
        .Columns(columns =>
        {
            columns.Bound(o => o.CurrencyId).Hidden();                       
            columns.Bound(o => o.CurrencyCode).Title("Cod Moneda");
            columns.Bound(o => o.CurrencyName).Title("Nume Moneda");
            columns.Bound(o => o.CurrencyExchange).Title("Rata de Schimb");
            columns.Template("<button id=\"deleteButton\" onclick=\"deleteRow(#=CurrencyId#)\">Delete</button>");
            columns.Template("<button id=\"editButton\" class=\"k-button\" onclick=\"redirectToEditContext(#=CurrencyId#)\"> Edit </button>");

        })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("GetDictionaryCurrencyFiltered", "DictionaryCurrency").Data("filter"))
            .Destroy(d => d.Action("DeleteCurrency", "DictionaryCurrency")))
        )
)


