@{
    ViewData["Title"] = "Currency";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<h1>Currency</h1>
<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
        var map;
        var markers = [];
    function myMap() {
        var startLatLng = {lat: 37.769, lng: -122.446};
        map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: 12,
          center: startLatLng,
          
        });

        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function (event) {
          clearMarkers();
            addMarker(event.latLng);
            alert(event.latLng);
        });

        // Adds a marker at the center of the map.
        addMarker(startLatLng);
      }

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYlEg-dW1i94xgQ2FC4u9IsLfx1kyFEf8&callback=myMap"></script>

<script type="text/javascript">

    function filter(e) {
        var currencyName = document.getElementById("currencyTextBox").value;
        var filter = {};
        filter["currencyName"] = currencyName;
        return filter;
    }
     function deleteRow(id) {
             $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteCurrency", "DictionaryCurrency")',
                    data: { id: id },
                 success: function (response) {
                        $("#currencyGrid").data("kendoGrid").dataSource.read();
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })
    }

    function refreshGrid() {
        $("#currencyGrid").data("kendoGrid").dataSource.read();
        $("#currencyGrid").data("kendoGrid").dataSource.page(1);
    }

     function redirectToAddContext()
    {
            window.location.href = 'DictionaryCurrency/CurrencyAdd/?id=' + 0;
    }

    function redirectToEditContext(id)
    {
        window.location.href = 'DictionaryCurrency/CurrencyAdd/?id=' + id;

    }

</script>

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("redirectToAddContext"))
)
@(Html.Kendo().TextBox()
.Name("currencyTextBox")
.HtmlAttributes(new { @id = "currencyTextBox" })
)

@(Html.Kendo().Button()
.Name("textButton")
.HtmlAttributes(new { type = "button" })
.Content("Filter")
.Events(ev => ev.Click("refreshGrid"))
)
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCurrencyModel>()
        .Name("grid")


        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Sortable()
        .NoRecords(true)
        .Filterable()
        .HtmlAttributes(new { @id = "currencyGrid" })
        .Columns(columns =>
        {
            columns.Bound(o => o.CurrencyId).Hidden();
            columns.Bound(o => o.CurrencyCode).Title("Cod Moneda");
            columns.Bound(o => o.CurrencyName).Title("Nume Moneda");
            columns.Bound(o => o.CurrencyExchange).Title("Rata de Schimb");
            columns.Template("<button id=\"deleteButton\" onclick=\"deleteRow(#=CurrencyId#)\">Delete</button>");
            columns.Template("<button id=\"editButton\" class=\"k-button\" onclick=\"redirectToEditContext(#=CurrencyId#)\"> Edit </button>");

        })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("GetDictionaryCurrencyFiltered", "DictionaryCurrency").Data("filter"))
            .Destroy(d => d.Action("DeleteCurrency", "DictionaryCurrency")))
)
)


