@{
    ViewData["Title"] = "CurrencyAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a Country</h1>

<script>

    function Add()
    {
        window.location.href = '@Url.Action("AddCountryToDb", "DictionaryCountry")';
    }

    function AddNew()
    {

    }

</script>

@*<div class="demo-section k-content">
    <h4>add a country</h4>

    @(html.kendo().button()
        .name("primarytextbutton")
        .htmlattributes(new { type = "button", @class = "k-primary" })
        .content("add")
        .events(ev => ev.click("add"))
    )

    @(html.kendo().button()
        .name("secondarytextbutton")
        .htmlattributes(new { type = "button", @class = "k-primary" })
        .content("add new")
        .events(ev => ev.click("addnew"))
    )

    @(html.kendo().textbox()
         .name("countryname")
         .htmlattributes(new { style = "width: 15%" })
    )

    @(html.kendo().dropdownlist()
          .name("dictionarycountry")
          .datatextfield("languagename")
          .datavaluefield("languageid")
          .datasource(source =>
       {
           source.read(read =>
           {
              source.read(read.action("getlanguage", "dictionarycountry");
              });
          })
          .htmlattributes(new { style = "width: 15%" })
          )
</div>*@
