
@{
    ViewData["Title"] = "CountryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1 class="text-center" style="margin:50px">Add country</h1>

<script>

    let fromUpdate = false;

    function add() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("CountryId");

        if (id != 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditCountry", "DictionaryCountry")',
                data: {
                    countryName: document.getElementById("CountryName").value,
                    languageId: document.getElementById("combo").value
                },
                success: function (response) {
                    alert("hai ca merge");
                    window.location.href = '@Url.Action("Index", "DictionaryCountry")';
                },
                error: function (response) {
                    alert("hai ca nu merge");
                }
            })
        }
        else {
            $.ajax({
                type: 'PUT',
                url: '@Url.Action("SaveCountry", "DictionaryCountry")',
                data: {
                    countryName: document.getElementById("CountryName").value,
                    languageId: document.getElementById("combo").value
                },
                success: function (response) {
                    if (fromUpdate) {
                        document.getElementById("CountryName").value = "";
                        $("#combo").val("").data("kendoDropDownList").text("");
                        fromUpdate = false;
                    }
                    else {
                        window.location.href = '@Url.Action("Index", "DictionaryCountry")';
                    }

                },
                error: function (response) {
                    alert("hai ca nu merge");
                }
            })
        }

    }

    function addNew() {
        fromUpdate = true;
        add();
    }

    function cancelAdd() {
        window.location.href = '@Url.Action("Index", "DictionaryCountry")';
    }
</script>



<div class="form-group text-center">
    <ul style="list-style-type:none">
        <li>
            <label>Country name</label>
        </li>
        <li>
            @(Html.Kendo().TextBox()
                        .Name("CountryName")
                        .Value("CountryName")
                        .HtmlAttributes(new { style = "width: 25%; margin:15px; text-align:center" })
            )
        </li>

        <li>
            <label>
                Language
            </label>
        </li>
        <li>
            @(Html.Kendo().DropDownList()
              .Name("DictionaryLanguage")
              .DataTextField("LanguageName")
              .DataValueField("LanguageId")
              .DataSource(source =>
                      {
                  source.Read(read =>
                  {
                      read.Action("GetLanguageAdd", "DictionaryCountry");
                  });
              })
              .HtmlAttributes(new { @id = "combo", style="width:25%; margin:10px" })
            )
        </li>


    </ul>


    <div style="margin:10px">
        @(Html.Kendo().Button()
                       .Name("primaryTextButton")
                       .HtmlAttributes(new { type = "button", @class = "k-primary" })
                       .Content("Save")
                       .Icon("k-icon k-i-plus-circle")
                       .Events(ev => ev.Click("add"))
        )

        @(Html.Kendo().Button()
               .Name("addNewButton")
               .HtmlAttributes(new { type = "button", @class = "k-primary" })
               .Content("Add New")
               .Icon("k-icon k-i-plus")
               .Events(ev => ev.Click("addNew"))
        )

        @(Html.Kendo().Button()
              .Name("cancelButton")
              .HtmlAttributes(new { type = "button", @class = "k-primary" })
              .Content("Cancel")
               .Icon("cancel")
              .Events(ev => ev.Click("cancelAdd"))
        )
    </div>



</div>

